<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmos-hack4.documents.azure.com:443/" />
    <add key="PrimaryKey" value="HpyIrerbWAIKr7gIVx8j3TFytx2Ycy3HEUG5Th7B0ckAYEt4lebuyAhPi29bcqFwf0sn0p32XQtnACDbVT1eqQ==" />
  </appSettings>
</configuration>